<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order.manager.dao.user.UserInfoMapper">

    <sql id="UserInfo_allFields">
        Id, UserName, Password, Status, SecurityRole, Creator, InsertTime, LastOperator, LastModifyTime, Description, RoleName
    </sql>

    <insert id="insert" parameterType="UserInfo">
        INSERT INTO user(UserName, Password, Status, SecurityRole, Creator, InsertTime, LastOperator, LastModifyTime, Description, RoleName)
        VALUES( #{userName}, #{password}, #{status}, #{securityRole}, #{creator}, #{insertTime}, #{lastOperator},
         #{lastModifyTime}, #{description}, #{roleName})
    </insert>

    <update id="updateById" parameterType="UserInfo">
        UPDATE user SET
        <if test="password != null and password != ''">
            Password = #{password},
        </if>

        <if test="status != null and status > 0">
            Status = #{status},
        </if>

        <if test="securityRole != null and securityRole >= 0">
            SecurityRole = #{securityRole},
        </if>

        <if test="lastOperator != null">
            LastOperator = #{lastOperator},
        </if>

        <if test="description != null">
            Description = #{description},
        </if>

        <if test="roleName != null and roleName != ''">
            RoleName = #{roleName},
        </if>

        LastModifyTime = #{lastModifyTime}
        WHERE Id = #{id}
    </update>

    <select id="getById" parameterType="Long" resultType="UserInfo">
        SELECT
        <include refid="UserInfo_allFields"/>
        FROM user
        <where>
            Id = #{id}
        </where>
    </select>

    <delete id="deleteById" parameterType="long">
        DELETE FROM user WHERE Id = #{id}
    </delete>

    <sql id="UserInfo_query_condition">
        <where>
            <if test="userName !=null and userName != ''">
                AND UserName = #{userName}
            </if>
            <if test="roleName !=null and roleName != ''">
                AND RoleName = #{roleName}
            </if>
        </where>
    </sql>


    <select id="queryCount" parameterType="UserInfoQuery" resultType="int">
        SELECT
        COUNT(*)
        FROM user
        <include refid="UserInfo_query_condition"></include>
    </select>

    <select id="queryList" parameterType="UserInfoQuery" resultType="UserInfo">
        SELECT
        <include refid="UserInfo_allFields"/>
        FROM user
        <include refid="UserInfo_query_condition"></include>
        ORDER BY LastModifyTime DESC
        <if test="limit > -1">
            LIMIT #{limit}
        </if>
        <if test="offset > -1">
            OFFSET #{offset}
        </if>
    </select>


    <select id="getByName" parameterType="String" resultType="UserInfo">
        SELECT
        <include refid="UserInfo_allFields"/>
        FROM user
        WHERE UserName = #{userName}
    </select>
</mapper>