<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order.manager.dao.customer.CustomerMapper">

    <sql id="Customer_allFields">
        Id, CustomerName, Creator, InsertTime, LastOperator, LastModifyTime, Description
    </sql>

    <insert id="insert" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO order_manager(CustomerName, Creator, InsertTime, LastOperator, LastModifyTime, Description)
        VALUES( #{customerName}, #{creator}, #{insertTime}, #{lastOperator}, #{lastModifyTime}, #{description})
    </insert>

    <update id="updateById" parameterType="Customer">
        UPDATE order_manager SET
        <if test="customerName != null and customerName != ''">
            CustomerName = #{customerName},
        </if>

        <if test="lastOperator != null">
            LastOperator = #{lastOperator},
        </if>

        <if test="description != null">
            Description = #{description},
        </if>

        LastModifyTime = #{lastModifyTime}
        WHERE Id = #{id}
    </update>

    <select id="getById" parameterType="Long" resultType="Customer">
        SELECT
        <include refid="Customer_allFields"/>
        FROM order_manager
        <where>
            Id = #{id}
        </where>
    </select>

    <sql id="Customer_query_condition">
        <where>
            <if test="customerName !=null and customerName != ''">
                AND CustomerName LIKE CONCAT('%', REPLACE(REPLACE(#{customerName},'%','\%'),'_','\_'), '%')
            </if>
        </where>
    </sql>


    <select id="queryCount" parameterType="CustomerQuery" resultType="int">
        SELECT
        COUNT (*)
        FROM order_manager
        <include refid="Customer_query_condition"></include>
    </select>

    <select id="queryList" parameterType="CustomerQuery" resultType="Customer">
        SELECT
        <include refid="Customer_allFields"/>
        FROM order_manager
        <include refid="Customer_query_condition"></include>
        ORDER BY LastModifyTime DESC
        <if test="limit > -1">
            LIMIT #{limit}
        </if>
        <if test="offset > -1">
            OFFSET #{offset}
        </if>
    </select>
</mapper>