<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order.manager.dao.order.OrderInfoMapper">

    <sql id="OrderInfo_allFields">
        Id, ProductId, ProductName, ProductSeries, Number, DeliveryDate, OrderDate, PlanDate, Status, CustomerName, Config,
         Creator, InsertTime, LastOperator, LastModifyTime, Description, OrderId, OrderYear, DeliveryStatus,
         YQ,DZ,ZZ,FZ,HBJ,ZC,GTTT,JK,ZZZC,DZZC,BZ,BP,SC,LC
    </sql>

    <insert id="insert" parameterType="OrderInfo">
     INSERT INTO order_info(ProductId, ProductName, ProductSeries, Number, DeliveryDate, OrderDate, PlanDate, Status, CustomerName, Config,
     Creator, InsertTime, LastOperator, LastModifyTime, Description, OrderId, OrderYear, DeliveryStatus,
     YQ,DZ,ZZ,FZ,HBJ,ZC,GTTT,JK,ZZZC,DZZC,BZ,BP,SC,LC)
        VALUES( #{productId}, #{productName}, #{productSeries}, #{number}, #{deliveryDate}, #{orderDate}, #{planDate}, #{status}, #{customerName}, #{config},
         #{creator}, #{insertTime}, #{lastOperator}, #{lastModifyTime}, #{description}, #{orderId}, #{orderYear}, #{deliveryStatus},
         #{yq},#{dz},#{zz},#{fz},#{hbj},#{zc},#{gttt},#{jk},#{zzzc},#{dzzc},#{bz},#{bp},#{sc},#{lc})
    </insert>

    <update id="updateById" parameterType="OrderInfo">
        UPDATE order_info SET
        <if test="yq != null and yq > 0">
            YQ = #{yq},
        </if>
        <if test="dz != null and dz > 0">
            DZ = #{dz},
        </if>
        <if test="zz != null and zz > 0">
            ZZ = #{zz},
        </if>
        <if test="fz != null and fz > 0">
            FZ = #{fz},
        </if>
        <if test="hbj != null and hbj > 0">
            HBJ = #{hbj},
        </if>
        <if test="zc != null and zc > 0">
            ZC = #{zc},
        </if>
        <if test="gttt != null and gttt > 0">
            GTTT = #{gttt},
        </if>
        <if test="jk != null and jk > 0">
            JK = #{jk},
        </if>
        <if test="zzzc != null and zzzc > 0">
            ZZZC = #{zzzc},
        </if>
        <if test="dzzc != null and dzzc > 0">
            DZZC = #{dzzc},
        </if>
        <if test="bz != null and bz > 0">
            BZ = #{bz},
        </if>
        <if test="bp != null and bp > 0">
            BP = #{bp},
        </if>
        <if test="sc != null and sc > 0">
            SC = #{sc},
        </if>
        <if test="lc != null and lc > 0">
            LC = #{lc},
        </if>


        <if test="customerName != null and customerName != ''">
            CustomerName = #{customerName},
        </if>

        <if test="config != null and config != ''">
            Config = #{config},
        </if>

        <if test="productId != null and productId > 0">
            ProductId = #{productId},
        </if>

        <if test="productName != null and productName != ''">
            productName = #{productName},
        </if>

        <if test="productSeries != null and productSeries != ''">
            ProductSeries = #{productSeries},
        </if>

        <if test="number != null and number > 0">
            Number = #{number},
        </if>

        <if test="deliveryDate != null and deliveryDate >= -1">
            DeliveryDate = #{deliveryDate},
        </if>

        <if test="orderDate != null and orderDate >= -1">
            OrderDate = #{orderDate},
        </if>

        <if test="planDate != null and planDate >= -1">
            PlanDate = #{planDate},
        </if>

        <if test="status != null and status > 0">
            Status = #{status},
        </if>

        <if test="deliveryStatus != null and deliveryStatus > 0">
            DeliveryStatus = #{deliveryStatus},
        </if>

        <if test="lastOperator != null">
            LastOperator = #{lastOperator},
        </if>

        <if test="description != null">
            Description = #{description},
        </if>

        LastModifyTime = #{lastModifyTime}
        WHERE Id = #{id}
    </update>

    <select id="getById" parameterType="Long" resultType="OrderInfo">
        SELECT
        <include refid="OrderInfo_allFields"/>
        FROM order_info
        <where>
            Id = #{id}
        </where>
    </select>

    <select id="getCurrentYearMaxId" parameterType="Integer" resultType="Integer">
        SELECT
        Max(OrderId)
        FROM order_info
        <where>
            OrderYear = #{orderYear}
        </where>
    </select>

    <sql id="OrderInfo_query_condition">
        <where>
            <if test="yq != null and yq > 0">
                AND YQ = #{yq}
            </if>
            <if test="dz != null and dz > 0">
                AND DZ = #{dz}
            </if>
            <if test="zz != null and zz > 0">
                AND ZZ = #{zz}
            </if>
            <if test="fz != null and fz > 0">
                AND FZ = #{fz}
            </if>
            <if test="hbj != null and hbj > 0">
                AND HBJ = #{hbj}
            </if>
            <if test="zc != null and zc > 0">
                AND ZC = #{zc}
            </if>
            <if test="gttt != null and gttt > 0">
                AND GTTT = #{gttt}
            </if>
            <if test="jk != null and jk > 0">
                AND JK = #{jk}
            </if>
            <if test="zzzc != null and zzzc > 0">
                AND ZZZC = #{zzzc}
            </if>
            <if test="dzzc != null and dzzc > 0">
                AND DZZC = #{dzzc}
            </if>
            <if test="bz != null and bz > 0">
                AND BZ = #{bz}
            </if>
            <if test="bp != null and bp > 0">
                AND BP = #{bp}
            </if>
            <if test="sc != null and sc > 0">
                AND SC = #{sc}
            </if>
            <if test="lc != null and lc > 0">
                AND LC = #{lc}
            </if>

            <if test="customerName != null and customerName !=''">
                AND customerName LIKE CONCAT('%', REPLACE(REPLACE(#{customerName},'%','\%'),'_','\_'), '%')
            </if>

            <if test="orderId != null and orderId > 0">
                AND OrderId = #{orderId}
            </if>

            <if test="productName != null and productName !=''">
                AND ProductName LIKE CONCAT('%', REPLACE(REPLACE(#{productName},'%','\%'),'_','\_'), '%')
            </if>

            <if test="productSeries != null and productSeries !=''">
                AND ProductSeries LIKE CONCAT('%', REPLACE(REPLACE(#{productSeries},'%','\%'),'_','\_'), '%')
            </if>

            <if test="status != null and status > 0">
                AND Status = #{status}
            </if>

            <if test="deliveryStatus != null and deliveryStatus > 0">
                AND DeliveryStatus = #{deliveryStatus}
            </if>

            <if test="creator != null and creator != ''">
                AND Creator = #{creator}
            </if>
            <if test="startTime > 0">AND <![CDATA[ DeliveryDate >= #{startTime} ]]>  </if>
            <if test="endTime >  0">AND <![CDATA[ DeliveryDate <= #{endTime} ]]>  </if>

            <if test="startOrderTime > 0">AND <![CDATA[ OrderDate >= #{startOrderTime} ]]>  </if>
            <if test="endOrderTime >  0">AND <![CDATA[ OrderDate <= #{endOrderTime} ]]>  </if>
        </where>
    </sql>


    <select id="queryCount" parameterType="OrderInfoQuery" resultType="int">
        SELECT
        COUNT(*)
        FROM order_info
        <include refid="OrderInfo_query_condition"></include>
    </select>

    <delete id="deleteById" parameterType="long">
        DELETE FROM order_info WHERE Id = #{id}
    </delete>

    <select id="queryList" parameterType="OrderInfoQuery" resultType="OrderInfo">
        SELECT
        <include refid="OrderInfo_allFields"/>
        FROM order_info
        <include refid="OrderInfo_query_condition"></include>
        ORDER BY OrderId DESC
        <if test="limit > -1">
            LIMIT #{limit}
        </if>
        <if test="offset > -1">
            OFFSET #{offset}
        </if>
    </select>
</mapper>